{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
    <li class="breadcrumb-item active">
        Movimentação
    </li>
{% endblock breadcrumb %}

{% block content %}
    {% include 'stocks/partials/list.html' %}
    {% include 'stocks/partials/modal_single.html' %}
{% endblock content %}

{% block script %}
<script src="{% static 'js/products.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    
</script>
{% endblock script %}