{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="{% url 'core:dashboard' %}" class="brand-link">
    <img
      src="{% static 'images/logo-128-green.png' %}" 
      alt="Company Logo" 
      class="brand-image img-circle elevation-3" 
      style="opacity: .8"
    />
    <span class="brand-text font-weight-light">DigitalTree</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img 
          src="{{user.user_profiles.photo_profile.url}}" 
          class="img-circle elevation-2" 
          alt="User Image"
        >
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.first_name|title }}</a>
      </div>
    </div>


    <nav class="mt-2">
      <ul 
        class="nav nav-pills nav-sidebar flex-column" 
        data-widget="treeview" 
        role="menu" 
        data-accordion="false"
      >
        {% include 'partials/menu_items.html' %}
      </ul>
    </nav>
  </div>
</aside>