<h2>Contato</h2>
        <p>Para mais informações entre em contato!</p>
        <section>
            <ul class="contact">
                
                <li>
                    <h3>Email</h3>
                    <a 
                        href="mailto:contato@jonathacarlos.dev.br"
                        target='_blank'
                    >
                        contato@jonathacarlos.dev.br
                    </a>
                    
                </li>
                <li>
                    <h3>WhatsApp</h3>
                    <a 
                        href="https://wa.me/message/UHK5CNYE6VBXM1"
                        target='_blank'
                    >
                        92 9.9203-4133
                    </a>
                </li>
                <li>
                    <h3>Redes Sociais</h3>
                    <ul class="icons">
                        <li>
                            <a 
                                href="https://github.com/JonathaCnB" 
                                class="icon brands fa-github"
                                target='_blank'
                            >
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://www.linkedin.com/in/jonathacarlos-cnb/" 
                                class="icon brands fa-linkedin-in"
                                target='_blank'
                            >
                                <span class="label">LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://www.instagram.com/jonathacnb/" 
                                target='_blank'
                                class="icon brands fa-instagram"
                            >
                                <span class="label">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>