{% load static %}
<section class='row gtr-uniform'>
    <div class="col-4 col-12-medium">
        <a 
            href="https://growpier.com" 
            target='_blank' 
            class="image fit"
        >
            <img src="{% static 'images/logo.png' %}" alt="" data-position="center center" />
        </a>

    </div>
    <div class="col-8 col-12-medium">

        <div class="content">
            <div class="inner">
                <h2>GrowPier</h2>
                <p>
                    Desenvolvimento de sistema web para gestão de Hackthons e Maratonas:
                    <ul>
                        <li>Cadastro de participantes com validação de e-mail</li>
                        <li>Bot para o Discord com validação de cadastro</li>
                        <li>Formação de equipes com requisitos específicos</li>
                        <li>Agendamento de mentorias</li>
                        <li>Comunicação entre mentor e mentorado com um chat interno</li>
                        <li>Submissão de projetos com validação dos arquivos</li>
                        <li>Cadastro de jurados</li>
                        <li>Avaliação dos projetos</li>
                        <li>Inclusão de comentário a equipe</li>
                        <li>Painel de acesso à organização</li>
                        <li>Diferente níveis de acesso divididos por perfil</li>
                    </ul>
                    Atividades realizadas utilizando metodologia ágil SCRUM e MTV como padrão de projeto
                </p>
                <h3>Eventos Realizados na Plataforma</h3>
                <ul class='alt'>
                    <li>
                        <a 
                            href="https://www.cnj.jus.br/agendas/1o-hackathon-liods-cnj/" 
                            target='_blank'
                        >
                            Hackathon LIODS/CNJ
                        </a>
                    </li>
                    <li>
                        <a 
                            href="https://www.gerar.org.br/maratona-hackathon-gerar-tem-583-projetos-6-mil-jovens-envolvidos-e-32-mil-visualizacoes-no-youtube/" 
                            target='_blank'
                        >
                            Maratona Hackathon GERAR
                        </a>
                    </li>
                    <li>
                        <a 
                            href="https://www.tjma.jus.br/midia/tj/noticia/506531/conheca-os-projetos-finalistas-do-primeiro-hackathon-tjma" 
                            target='_blank'
                        >
                            Hackathon TJ-MA
                        </a>
                    </li>
                </ul>
                <ul class="actions">
                    <li>
                        <a 
                            href="https://growpier.com" 
                            target='_blank'
                            class="button"
                        >
                            Acesse
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr/>
<section class='row mr-10'>
    <div class="col-4 col-12-medium">
        <a 
            href="https://www.lizardsolutions.com.br"  
            target='_blank'
            class="image fit"
            
        >
            <img 
                src="{% static 'images/lizard.png' %}" 
                alt="" 
                data-position="top center"
            />
        </a>

    </div>
    <div class="col-8 col-12-medium">

        <div class="content">
            <div class="inner">
                <h2>Lizard Solution</h2>
                <p>
                    Desenvolvimento de sistema web para recrutamento e seleção
                    com as seguintes funcionalidades:
                    <ul>
                        <li>Batida de ponto</li>
                        <li>Prospecção de leeds</li>
                        <li>Agenda</li>
                        <li>Envio automatizado de propostas</li>
                        <li>Cadastro de vagas</li>
                        <li>Gerenciamento de vagas por recrutador</li>
                        <li>Cadastro de candidatos</li>
                        <li>Candidatura via plataforma</li>
                        <li>Aprovação de candidatos via e-mail pelo gestor</li>
                        <li>Diferente níveis de acesso divididos por perfil</li>
                    </ul>
                    Atividades realizadas utilizando metodologia ágil SCRUM e MTV como padrão de projeto
                </p>
                <ul class="actions">
                    <li>
                        <a 
                            href="https://www.lizardsolutions.com.br" 
                            target='_blank'
                            class="button"
                        >
                            Acesse
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>