{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Portfólio - Jonatha Carlos</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/noscript.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/portfolio.png' %}" type="image/x-icon">
</head>
<body class="is-preload">
    {% include 'portfolio/sidebar.html' %}
    <div id="wrapper">
        {% block content %}{% endblock content %}
    </div>
    {% include 'portfolio/footer.html' %}

    <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'plugins/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>